<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Some of the highlights of my career and my transition into computer science.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/babyMe.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998</h4>
                                    <h4 class="subheading">Back to the Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I was born in 1998 to a father working at Microsoft and a mother working at a paper processing company. I have one older sister and had two dogs at the time. We lived outside of Charlotte in North Carolina and later moved to Apex, North Carolina</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/me2007.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007</h4>
                                    <h4 class="subheading">Looking Forward</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Growing up I wanted to be many things. I wanted to be a teacher, a veternarian, and happy. Something that was important to me, even at a young age, was helping people and trying to give back to others.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/finishingHighSchool.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2016</h4>
                                    <h4 class="subheading">Finishing High School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In high school, I wanted to study music and be a classical trained opera singer. Music was an integral part of my life at the time and still is. I sang in choirs all over the state, attended Governor's School for Choral Music, went to different universities to study with the voice faculty there, and studied music in my spare time.
                                    However, I was interested in programming. I attended a small high school that didn't offer many STEMP opportunities, so I taught myself to use HTML/CSS and Python, trying my best to understand something that felt like impossible magic.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/startingCollege.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2018</h4>
                                    <h4 class="subheading">Starting at UNC-CH</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">In the Fall of 2016, I started college at the University of North Carolina at Chapel Hill. I wanted to study both music and computer science and minor in Spanish. Like most first year students, I soon decided in 2017 to pursue only computer science, with minors in Information Systems and Spanish for Business. Computer Science began to become an
                                    integral part of my life and the more I did it, the more I grew and fell in love with it. Technology is limitless. Being a part of the field of technology makes me feel like I speak the language of magicians, and I love it.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gwc.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2018</h4>
                                    <h4 class="subheading">Girls Who Code</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At the beginning of 2018, my involvement with computer science began to shift. I went from a devoted student with 3 jobs in customer service, to a computer science student devoted to learning more both inside and outside of the classroom.
                                    I had been searching for opportunities to use my knowledge and passion outside of the classroom, eagerly looking for projects and organizaions to be a part of. I soon found Girls Who Code in 2017 and began teaching in 2018. Girls Who Code is a nonprofit organization that empowers young middle and high school girls to learn the fundamentals of programming.
                                    We offer these girls a supportive place to learn, make mistakes and grow, helping to close the gender gap in tech one girl at a time.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cssg.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">CS+Social Good</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Soon after starting with Girls Who Code, I began work as a founding member of CS+Social Good, a student led organization started at UNC in the spring of 2018 that empowers nonprofit to achieve their goals of social good by giving them knowledge and technology. As a founding member, I played a key role in developing both our first and current websites,
                                      working on a team to ensure cohesiveness and functionality. Our club is continuing to grow and expand as we all try to use technology for good.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/rtc.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2018</h4>
                                    <h4 class="subheading">Rewriting the Code</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lastly, I found Rewriting the Code, a nonprofit organization that helps support college women pursuing tech to have access to resources and opportunities. The graduation rate of women in tech is significantly lower than that of men and Rewriting the Code (RTC) is working to change that. With more than 1000 women across the world, we are all looking to empower each other
                                      and create a difference for the women coming after us. I'm currently a 2018-2019 Rewriting the Code Fellow, through which I've found many leadership opportunities with RTC and have grown as a leader and mentor through working with these amazing women.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/meNow.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now!</h4>
                                    <h4 class="subheading">What I'm up to now!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the summer of 2018, I started an internship with SAS as an R&D technical intern working on the Visual Analytics software. Through this opportunity, I was offered the position of a year round intern so that I could continue my work as an intern. It has been an amazing opportunity and I have grown so much through working with seasoned developers and experts in the field.
                                    I am now SAS certified too! My language proficiency includes Java, C, Javascript, TypeScript, HTML/CSS, SAS, MIPS Assembly Language, and Python. I'm a junior at UNC-CH, pursuing a BS in Computer Science with minors in Information Systems and Spanish for Business. My expected graudation date is May 2020. What else should you know about me? I love jazz, knitting, dogs, cooking, The Office, and volunteering. I'm a tinker, insatiably curious, a leader, a passionate go-getter, and a creator. I'm excited to see where my life takes me next.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Stay Tuned
                                    <br>For My
                                    <br>Future!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
